<div class="main-wrap">
  <div class="chatbot-wrap">
    <p class="chatbot-title">Welcome To Anti Sexual Harassment </p>
    <div class="charts-flow-wrap">
      <p *ngIf="msg1 == true" class="chats-msg-wrap">First let us understand why recognizing harassment is important:
        <br> ● It is essential to ensure a safe, productive, non-hostile work environment.
        <br> ● It helps us understand and revamp our behaviour to create and maintain a harassment free work environment
        <br> ● Sexual harassment is both a moral and legal issue
        <br> ● It is required, by law, to clearly outline company policy as well as the law against sexual harassment
        <br>
      </p>
      <p *ngIf="msg2 == true" class="chats-msg-wrap">In the following modules, I will present several scenarios that will help you with the objective to understand our
        policies regarding sexual harassment </p>
      <p *ngIf="msg3 == true" class="chats-msg-wrap">Let's begin with first module</p>
      <p *ngIf="msg4 == true" class="chats-msg-wrap">Module 01: Recognizing Sexual Harassment</p>
      <p *ngIf="msg5 == true" class="chats-msg-wrap">Do you recognize harassment when you see it? Sometimes, sure, but often not, because harassment isn’t about intent,
        it’s about effect. Employees may appear to be enjoying a situation but be thinking, “I’m being harassed, I’m calling
        my lawyer.”</p>
      <div *ngIf="msg6 == true">
        <p class="chats-msg-wrap">Types of Sexual Harassment: An "Unwelcome act or behaviour" is considered as sexual harassment. Click on each type
          to learn more about it.
        </p>
        <span (click)="verbal1()" class="type-act">Verbal</span>
        <span class="type-act">Non-Verbal</span>
        <span class="type-act">Physical</span>
        <p class="chats-msg-wrap" *ngIf="verbal == true">Examples include, sexual innuendoes, suggestive comments, jokes about sex, sexual orientation or propositions, sexual
          insults and threats </p>
      </div>
      <p *ngIf="msg7 == true" class="chats-msg-wrap">Now let us review certain scenarios to apply our learning, read the scenario and click on the most appropriate answer</p>
      <p *ngIf="msg8 == true" class="chats-msg-wrap"> Scenario 01: Jack and Jill have been working together on long term project. Jack develops a liking for Jill and asks
        her out for dinner. Jill says "No "to Jack directly. Jack starts using emails, text messages, and other communication
        channels to persuade Jill. </p>
      <div *ngIf="msg9 == true">
        <p class="chats-msg-wrap">What should Jill do?</p>
        <form class="type-act">
          <input (click)="wrongchoice()" type="radio"> Jill should clearly express her discomfort and tell Jack directly not to peruse her for a relationship.
          <br>
          <input type="radio"> Jill should continue giving excuses and avoid Jack, hoping he would understand her message.
          <br>
          <input type="radio"> Jill to should discuss it with her friends and get their help to convey the message to Jack
        </form>
        <p *ngIf="wrongans == true" class="chats-msg-wrap">That is not quite right! While this could be a common approach in the Indian context, Jill should directly and clearly
          convey the message to Jack. If she is not comfortable doing so, she can seek the help of Human Resource personnel.</p>
   <button>Retry</button>  
        </div>



      <div class="button-wrap">
        <button class="button-align">Prev</button>
        <button *ngIf="msg1 == true" class="button-align" (click)="next_btn1()">Next</button>
        <button *ngIf="msg2 == true" class="button-align" (click)="next_btn2()">Next</button>
        <button *ngIf="msg3 == true" class="button-align" (click)="next_btn3()">Next</button>
        <button *ngIf="msg4 == true" class="button-align" (click)="next_btn4()">Next</button>
        <button *ngIf="msg5 == true" class="button-align" (click)="next_btn5()">Next</button>
        <button *ngIf="msg6 == true" class="button-align" (click)="next_btn6()">Next</button>
        <button *ngIf="msg7 == true" class="button-align" (click)="next_btn7()">Next</button>
        <button *ngIf="msg8 == true" class="button-align" (click)="next_btn8()">Next</button>
      </div>
    </div>
  </div>
</div>