.main-wrap{
    width:100%;
    height: 100vh;
}
.chatbot-wrap{
    width: 70%;
    margin: 0 auto;
    min-height: 70vh;
    border:1px solid rgba(0, 0, 0, 0.12);
}
.chatbot-title{
    font-size: 25px;
    text-align: -webkit-center;
    color: #aaa;
}
.chats-msg-wrap{
    width: 50%;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.72);
    margin-left: 2%;
}
.button-wrap{
    width: 18%;
    float: right;
    position: fixed;
    bottom: 192px;
    right: 120px;

}
.button-align{
    border: 1px solid black;
    padding: 10px 20px;
    background: transparent;
}
.type-act{
    margin: 20px;
    cursor: pointer;
}