<div class="main-wrap">
    <div class="chatbot-wrap">
      <p class="chatbot-title">Welcome To Anti Sexual Harassment </p>
      <div class="charts-flow-wrap">
          <object width="400" height="400" data="../../assets/images/greeter4.swf"></object>
      </div>
    </div>
</div>